<!-- HTML Meta Tags -->
<head>
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://famousdirector.github.io/DALLEePaperFrame/">
<meta property="og:type" content="website">
<meta property="og:title" content="DALLEePaperFrame">
<meta property="og:description" content="Ever wanted to display never before seen art, on demand, using AI? Press a button, speak a “prompt” for the AI artist, and see the new art!">
<meta property="og:image" content="https://famousdirector.github.io/DALLEePaperFrame/docs/sample.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="famousdirector.github.io">
<meta property="twitter:url" content="https://famousdirector.github.io/DALLEePaperFrame/">
<meta name="twitter:title" content="DALLEePaperFrame">
<meta name="twitter:description" content="Ever wanted to display never before seen art, on demand, using AI? Press a button, speak a “prompt” for the AI artist, and see the new art!">
<meta name="twitter:image" content="https://famousdirector.github.io/DALLEePaperFrame/docs/sample.jpg">
</head>